#include "resource.h"

MAIN ICON DISCARDABLE "main.ico"

1 VERSIONINFO
FILEVERSION 1, 2, 0, 0
PRODUCTVERSION 1, 2, 0, 0
{ BLOCK "StringFileInfo" 
{  BLOCK "040904E4" 
 {
   VALUE "CompanyName", "Netrek\000"
   VALUE "FileDescription", "Netrek XP 2006 Client\000"
   VALUE "FileVersion", "123456789012345678901234567890\000"
   VALUE "InternalName", "Netrek XP 2006\000"
   VALUE "LegalCopyright", "Copyright © 1986-2006\000"
   VALUE "OriginalFilename", "vccnetrek.rc\000"
   VALUE "ProductName", "Netrek XP 2006 Client\000"
   VALUE "ProductVersion", "123456789012345678901234567890\000" 
 }
 }
}